<h1>Your Scripts</h1>
<% @scripts.each do |script| %>
  <div class="script">
    <div class="script-content js-escape" data-unescaped-js='<%= script.content%>'></div>
    <%= link_to 'Show', script %>
    <%= link_to 'Edit', edit_script_path(script) %>
    <%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<%= link_to 'New Script', new_script_path %>
