<header>
  <div class='pure-menu pure-menu-open pure-menu-horizontal'>
    <% if @script and action_name == 'edit' %>
      <div class='pure-u-1 pure-center room-on-left'>
        <%= edit_script_title(@script) %>
      </div>
    <% else %>
      <%= link_to('mintscript', root_path, class: 'pure-menu-heading') %>
      <ul class='pull-right' >
        <li>
          <% unless current_user %>
            <%= link_with_icon path: try_path, icon: :leaf %>
          <% end %>
        </li>
        <li>
          <% if current_user %>
            <%= link_with_icon path: destroy_user_session_path, method: :delete, icon: :signout %>
          <% else %>
            <%= link_with_icon path: new_user_session_path, icon: :signin %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</header>