<!DOCTYPE html>
<html>
<head>
  <title>mintscript</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header' %>
  <div id="main-content">
    <%= yield %>
  </div>
  <%= render partial: 'layouts/footer' %>
  <%= render partial: 'js/initialize_editor', 
                      formats: [:js], 
                      locals: { script: @script } if controller_name == 'scripts' and @script %>
</body>
</html>
